<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.coreqi.web.modelMapper.TUserModelMapper">
    <select id="loadUserByUsername" resultType="cn.coreqi.core.TUserModel">
        select * from t_user where username = #{username};
    </select>
    <select id="getUserRolesById" resultType="cn.coreqi.entity.TRole">
        select r.* from t_role r , t_user_role ur where ur.userid = #{id} and r.id = ur.rid;
    </select>
</mapper>
